extends admin_layout
block content
    - var isNew = data.isNew;
    if(!isNew)
        - var slide = data.data[0];
    .container.posRel
        if(isNew)
            h2 Создание слайда карусели
        else
            h2 Редактирование слайда карусели
        if(isNew)
            form#edit-slide.marTop22(data-id="new")
                .row
                    .col-md-12
                        .form-group
                            label Ссылка:
                            input.fc-field.form-control(type='text', data-server_name="url", value="", data-name="url")
                .row
                    .col-md-12
                        .form-group
                            label Порядок:
                            input.fc-field.form-control(type='text', data-server_name="sort_no", value="", data-name="sort_no")
                .row
                    .col-md-3
                        .col-md-12
                            .form-group
                                label.control-label
                                    | Картинка
                                div.input-group
                                    .input-group-addon
                                        i.fa.fa-image
                                    input.autoUpload.fc-field.form-control(type='text', data-server_name="photo", value="", data-name="photo")
                        .col-md-12
                            .user-photo-wrapper
                                .user-photo-clear
                                    .fa.fa-trash
                                img(src="img/def_artilce.jpg")
        else
            form#edit-slide.marTop22(data-id="#{slide.id}")
                .row
                    .col-md-12
                        .form-group
                            label Ссылка:
                            input.fc-field.form-control(type='text', data-server_name="url", value="#{slide.url}", data-name="url")
                .row
                    .col-md-12
                        .form-group
                            label Порядок:
                            input.fc-field.form-control(type='text', data-server_name="sort_no", value="#{slide.sort_no}", data-name="sort_no")
                .row
                    .col-md-3
                        .col-md-12
                            .form-group
                                label.control-label
                                    | Картинка
                                div.input-group
                                    .input-group-addon
                                        i.fa.fa-image
                                    input.autoUpload.fc-field.form-control(type='text', data-server_name="photo", value="#{slide.photo}", data-name="photo")
                        .col-md-12
                            .user-photo-wrapper
                                .user-photo-clear
                                    .fa.fa-trash
                                img(src="upload/#{slide.photo}")
        .col-md-12
            hr
            .col-md-12
                #confirm_edit_slide.sBtn.green.marL1.flRight
                    i.fa.fa-check
                    | &nbsp;&nbsp;Сохранить
                if(!isNew)
                    #publicate_slide.sBtn.blue.marL1.flRight
                        i.fa.fa-users
                        | &nbsp;&nbsp;Опубликовать
                    #delete_slide.sBtn.red.marL1.flRight
                        i.fa.fa-trash-o
                        | &nbsp;&nbsp;Удалить

    script(src="js/admin_slide.js")