extends layout
block content
    - var articles = data.data;
    - var articlesStr = JSON.stringify(articles);
    .page-content.wid100pr.main-wide-bg
        .container.marTop100.marBot35
            .row
                .col-md-4
                    .mPage-block.calendar-wrapper-new
                        .calendar-wrapper
                .col-md-8
                    .mPage-block.coming-wow-wrapper-new
                        .wow-header.nearrest-wow-title
                            | Wod of week
                        .nearrest-wow-from-to-date
                            span.date-start
                            |  -
                            span.date-end
                        .wow-content
                            .nearrest-wow-event-wrapper.noPad(data-to_date="")
                                .nearrest-wow-content
                                    .col-md-8
                                        .nearrest-wow-timer-row.col-md-12
                                            .nearresr-wow-timer-label
                                                | До старта:
                                            .nearresr-wow-timer-init-wrapper
                                                .nearresr-wow-timer-init
                                        .nearrest-wow-exercises
                                    .col-md-4
                                        .nearrest-wow-photo
                                            img(src="")
                                        a.nearrest-wow-order(href="wow")
                                            | Подать заявку!
        .fullWidthRatingBg
        .container
            .row
                .col-md-6
                    .row
                        .col-md-12.marTop20
                            h4.white
                                | Мужчины
                        .col-md-12
                            .totalLeaderBoardTable.posRel(data-get_object="results", data-action_id="all",  data-range_where="male")
                .col-md-6
                    .row
                        .col-md-12.marTop20
                            h4.white
                                | Женщины
                        .col-md-12
                            .totalLeaderBoardTable.posRel(data-get_object="results", data-action_id="all",  data-range_where="famale")
            .row.padBot30
                .col-md-6
                    .row
                        .col-md-12.marTop20
                            h4.white
                                | Мужчины 40+
                        .col-md-12
                            .totalLeaderBoardTable.posRel(data-get_object="results", data-action_id="all",  data-range_where="male40")
                .col-md-6
                    .row
                        .col-md-12.marTop20
                            h4.white
                                | Женщины 40+
                        .col-md-12
                            .totalLeaderBoardTable.posRel(data-get_object="results", data-action_id="all",  data-range_where="famale40")

                //div.event-results-tabs(role="tabpanel")
                //    ul.nav.nav-pills(role="tablist")
                //        li.active(role="leaderboard")
                //            a(href="#male", aria-controls="male", role="tab", data-toggle="tab") Мужчины
                //        //li(role="event_leaderboard")
                //        //    a(href="#male40", aria-controls="male40", role="tab", data-toggle="tab") Мужчины 40+
                //        //li(role="event_leaderboard")
                //        //    a(href="#famale", aria-controls="famale", role="tab", data-toggle="tab") Женщины
                //        //li(role="event_leaderboard")
                //        //    a(href="#famale40", aria-controls="famale40", role="tab", data-toggle="tab") Женщины 40+
                //    .tab-content
                //        .tab-pane.active(role="tabpanel", id="male")
                //            .totalLeaderBoardTable.posRel(data-get_object="results", data-action_id="all",  data-range_where="male")
                //        //.tab-pane(role="tabpanel", id="male40")
                //        //    .totalLeaderBoardTable.posRel(data-get_object="results", data-action_id="all", data-range_where="male40")
                //        //.tab-pane(role="tabpanel", id="famale")
                //        //    .totalLeaderBoardTable.posRel(data-get_object="results", data-action_id="all", data-range_where="famale")
                //        //.tab-pane(role="tabpanel", id="famale40")
                //        //    .totalLeaderBoardTable.posRel(data-get_object="results", data-action_id="all", data-range_where="famale40")

    script(type="text/javascript", src="js/html/totalLeaderBoardTable.js")

    .page-content.wid100pr.whiteBg
        .container.marBot30.noPad
            h3.fullDarkHeader
                span.fullDarkHeader-inner
                    | О нас
            .row
                .col-md-12
                    .col-md-12
                        .col-md-4.marTop14
                            img.wid100pr(src="img/about.jpg")
                        .col-md-8
                            h4
                                |Приветствуем тебя, Атлет, Тренер, Владелец зала!
                            p
                                |Каратист готовится к Соревнованиям, а самурай готов всегда.
                                |Перед  тем, как начать использовать ресурс «на полную катушку», хотелось сказать несколько слов
                                |о том для кого, для чего создан ресурс и как работать с модулями на сайте.
                            ul
                                li
                                    |В первую очередь, ресурс создан для Атлетов, Тренеров и Владельцев залов. Стремится стать
                                    |ресурсом, который мог бы предоставить необходимую и исчерпывающую информацию для
                                    |Вашей успешной деятельности.
                                li
                                    |Мы хотим создать площадку и прикладываем массу усилий  для того, чтобы Атлеты различных
                                    |видов спорта и дисциплин могли обмениваться опытом и своими достижениями.
                                li
                                    |Мы хотим обратить Ваше внимание на качество, форму и технику движений во время
                                    |выполнения комплексов. Считаем эти качества ключом к успешным результатам, как на
                                    |тренировках, так и в соревновательной практике, а так же улучшению Ваших физических
                                    |кондиций и жизненного уровня вцелом.
                                li
                                    |Мы не подготовим Вас к Соревнованиям, преодолению дистанций или выполнению иных
                                    |заданий, но даем возможность проверить свои силы и тренировочные принципы в полевых
                                    |условиях, и для этого Вам не нужно уезжать куда-то далеко. Поле битвы – Интернет.
                                li
                                    |Мы не считаем правильным переделывать комплексы по нескольку раз, но если азарт
                                    |Соревнований захватил Вас – Дерзайте! Для этого и создавалась площадка Wod of Week.
                                li
                                    |Мы предлагаем Вам включать наши WOD в свою тренировочную программу, что в конечном
                                    |итоге даст возможность оценить и сравнить Ваши результаты с многими Атлетами.
                                li
                                    |Вы можете стать автором  тренировки недели
                                li
                                    |И ДА! Мы любим CrossFit или Кроссфит, или Функциональное Многоборье, а также просто
                                    |любим Спорт Здоровый Образ Жизни (ЗОЖ)! Мы уважаем любую Двигательную Активность!
                                    |Тренируйся! Соревнуйся! Выигрывай!
    .page-content.wid100pr.whiteBg
        .container.marBot30.noPad
            h3.fullDarkHeader
                span.fullDarkHeader-inner
                    | Новости
            for a in articles
                .row.article-item(data-id="#{a.id}")
                    .col-md-12
                        .col-md-4.article-image-wrapper
                            -var path = (!a.photo || a.photo.length==0 || a.photo=='')? 'img/def_article.jpg' : 'upload/'+a.photo;
                            .art_img(style="background-image: url(#{path})")
                        .col-md-8
                            .art-header
                                a.art-title(href="article?id=#{a.id}")
                                    | #{a.title}
                            .art-body
                                | !{a.body}
                            a.readMore(href="article?id=#{a.id}")
                                | Читать далее...
        //.container
        //    .row
        //        .col-md-3.noPad
        //            .calendar-title
        //                | Календарь событий
        //            .calendar-wrapper
        //        .col-md-9.noPad
        //            .leaderboard-wrapper
        //                .col-md-12.noPad
        //                    .leaderboard-title.ta-center
        //                        | Таблица лидеров
        //                .col-xs-6.noPad
        //                    div.genderLabel.male
        //                        | Мужчины
        //                    ul.leaderboard-content
        //                        li
        //                            .leader-photo
        //                                img(src="img/user_m_1.jpg")
        //                            .leader-name
        //                                | Андрей Ганин
        //                            .leader-rating
        //                                | 259
        //                        li
        //                            .leader-photo
        //                                img(src="img/user_m_2.jpg")
        //                            .leader-name
        //                                | Юрий Казаков
        //                            .leader-rating
        //                                | 213
        //                        li
        //                            .leader-photo
        //                                img(src="img/user_m_3.jpg")
        //                            .leader-name
        //                                | Владимир Сайдашев
        //                            .leader-rating
        //                                | 188
        //                        li
        //                            .leader-photo
        //                                img(src="img/user_m_4.jpg")
        //                            .leader-name
        //                                | Николай Петров
        //                            .leader-rating
        //                                | 170
        //                        li
        //                            .leader-photo
        //                                img(src="img/user_m_5.jpg")
        //                            .leader-name
        //                                | Сергей Ватутенко
        //                            .leader-rating
        //                                | 151
        //                .col-xs-6.noPad
        //                    div.genderLabel.famale
        //                        | Женщины
        //                    ul.leaderboard-content
        //                        li
        //                            .leader-photo
        //                                img(src="img/user_f_1.jpg")
        //                            .leader-name
        //                                | Оксана Пикмулова
        //                            .leader-rating
        //                                | 311
        //                        li
        //                            .leader-photo
        //                                img(src="img/user_f_2.jpg")
        //                            .leader-name
        //                                | Анна Алмазова
        //                            .leader-rating
        //                                | 223
        //                        li
        //                            .leader-photo
        //                                img(src="img/user_f_3.jpg")
        //                            .leader-name
        //                                | Ульяна Гребенщикова
        //                            .leader-rating
        //                                | 197
        //                        li
        //                            .leader-photo
        //                                img(src="img/user_f_4.jpg")
        //                            .leader-name
        //                                | Елена Кожухова
        //                            .leader-rating
        //                                | 162
        //                        li
        //                            .leader-photo
        //                                img(src="img/user_f_5.jpg")
        //                            .leader-name
        //                                | Ольга Орлова
        //                            .leader-rating
        //                                | 157
                        //.col-md-4.noPad
                        //    .leaderboard-title
                        //        | Чемпионы
                        //    ul.leaderboard-content
        //.container.partners.marBot30.noPad
        //    h3.fullDarkHeader
        //        span.fullDarkHeader-inner
        //            | Че осталось
            //.row
            //    .col-md-12
            //        .col-md-12
            //            .col-md-12
            //                h4 Доверстать статику для учатников, пример тут http://cfft.ru/opens/5/crossfit_for_competitors
            //                h4 Вставить отредактированый текст о нас
            //                h4 Вставить реальных партнеров
            //                h4 Придумать временное решение, че сделать с календарем??
            //                h4 Причесать Профайл
            //                h4 Статика контакты
            //                h4 Вставить реальные слайды в слайдер
            //                h4 Вставить реальных чуваков в лидерборд
            //                h4 скрыть подписку на рассылки
            //                h4 вставить реальные данные в WOW backtimer
            //                h4 Форма подачи заявки на участие, синхонизовать с моделью
            //                h4 подфуфлить вывод мероприятия с единственным этапом
            //                h4 Регистрашка, ВСЕ поля
            //                h4 Реализовать механизм подачи, отображение и взаимодействие(в админке) с результатами, вывод их в мероприятие
            //                h4 ДОПИЛИТЬ РЕГИСТРАШКУ
            //                h4 Скрыть пока филтры
            //                h4 Картинка для мероприятия
            //                h4 Украшательство меропритятия
            //                h4 Хостинг нах



        //.adv-block-wrapper
        //    div
        //        .container.padTop30
        //            .row
        //                .col-md-9
        //                    .adv-bunner-wrapper
        //                        img(src="img/adv_bunner_big.jpg")
        //                .col-md-3
        //                    .adv-bunner-wrapper
        //                        img(src="img/adv_bunner.jpg")


    //.page-content
    //    .main-slider-wrapper.big-content-wrapper
    //        .fadeLeft
    //        .main-slider-view
    //            .main-slider-slide-left
    //                i.fa.fa-angle-left
    //            .main-slider-slide-right
    //                i.fa.fa-angle-right
    //            .main-slider-dots-wrapper
    //            ul.main-slider(data-shift="0")
    //                li.slide
    //                    img(src="img/slide1.jpg")
    //                    .slide-text Lorem ipsum dolor sit!
    //                li.slide
    //                    img(src="img/slide2.jpg")
    //                    .slide-text Lorem ipsum dolor sit!
    //                li.slide
    //                    img(src="img/slide3.jpg")
    //                    .slide-text Lorem ipsum dolor sit!
    //        .fadeRight
        .adv-block-wrapper.big-content-wrapper
            .fadeLeft
            .fadeRight
            .bot_bg
                .container.padTop40
                    .pr33.flLeft.adv-item
                        img(src="img/adv1.jpg")
                        .adv-item-title
                            | Advertisement block 1
                            .adv-item-angle
                    .pr33.flLeft.adv-item
                        img(src="img/adv2.jpg")
                        .adv-item-title
                            | Advertisement block 1
                            .adv-item-angle
                    .pr33.flLeft.adv-item
                        img(src="img/adv3.jpg")
                        .adv-item-title
                            | Advertisement block 1
                            .adv-item-angle
                    .promo-wrapper
                        .promo-text
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            | industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            | scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                            | electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                            | of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                            | like Aldus PageMaker including versions of Lorem Ipsum.
                        .promo-text
                            .row.marBot10
                                .col-md-9.marTop22.fs-16
                                    | &#1061;&#1086;&#1095;&#1077;&#1096;&#1100; &#1087;&#1086;&#1090;&#1077;&#1088;&#1103;&#1090;&#1100; &#1083;&#1080;&#1096;&#1085;&#1080;&#1081; &#1074;&#1077;&#1089;, &#1085;&#1072;&#1073;&#1088;&#1072;&#1090;&#1100; &#1084;&#1099;&#1096;&#1077;&#1095;&#1085;&#1091;&#1102; &#1084;&#1072;&#1089;&#1089;&#1091;, &#1089;&#1090;&#1072;&#1090;&#1100; &#1089;&#1080;&#1083;&#1100;&#1085;&#1077;&#1077;?
                                .col-md-3
                                    .sBtn.red.flRight.btn_want-to-train &#1061;&#1086;&#1095;&#1091; &#1090;&#1088;&#1077;&#1085;&#1080;&#1088;&#1086;&#1074;&#1072;&#1090;&#1100;&#1089;&#1103;
        .container.padTop40.marBot30
            .row
                .col-md-3
                    .article-item-wrapper
                        .article-item-img-wrapper
                            img(src="img/article1.jpg")
                        .article-item-title.red-mid-header
                            | Letraset sheets
                        .article-item-text.text
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            | industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            | scrambled it to make a type specimen book.
                .col-md-3
                    .article-item-wrapper
                        .article-item-img-wrapper
                            img(src="img/article2.jpg")
                        .article-item-title.red-mid-header
                            | Letraset sheets
                        .article-item-text.text
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            | industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            | scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                            | electronic typesetting, remaining essentially unchanged.
                .col-md-3
                    .article-item-wrapper
                        .article-item-img-wrapper
                            img(src="img/article3.jpg")
                        .article-item-title.red-mid-header
                            | Letraset sheets
                        .article-item-text.text
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            | industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            | scrambled it to make a type specimen book. It has survived not only five centuries.
                .col-md-3
                    .event-list-wrapper
                        .event-list-header
                            .event-list-header-title
                                i.fa.fa-calendar.posRel
                                    i.fa.fa-circle-o.whats_next_lil_icon
                                | &#1063;&#1090;&#1086; &#1076;&#1072;&#1083;&#1100;&#1096;&#1077;?
                        .event-list-content
                            ul.event-list-items
                                li
                                    .event-list-item-date-wrapper
                                        .event-list-item-date-day 23
                                        .event-list-item-date-mth &#1092;&#1077;&#1074;
                                    .event-list-item-title
                                        | Mass workout at fatherland defender day
                                li
                                    .event-list-item-date-wrapper
                                        .event-list-item-date-day 08
                                        .event-list-item-date-mth &#1084;&#1072;&#1088;
                                    .event-list-item-title
                                        | Womans day workout, girls only
                                li
                                    .event-list-item-date-wrapper
                                        .event-list-item-date-day 01
                                        .event-list-item-date-mth &#1103;&#1085;&#1074;
                                    .event-list-item-title
                                        | New years party-workout with Santa!
                                li
                                    .event-list-item-date-wrapper
                                        .event-list-item-date-day 12
                                        .event-list-item-date-mth &#1103;&#1085;&#1074;
                                    .event-list-item-title
                                        | First work day of year workout
                        .event-list-footer
                            | &#1055;&#1086;&#1089;&#1084;&#1086;&#1090;&#1088;&#1077;&#1090;&#1100; &#1074;&#1089;&#1077; &#1084;&#1077;&#1088;&#1086;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1103;
        .promo-wrapper.big-content-wrapper
            .fadeLeft
            .fadeRight
            .bg3
                .container.padTop30.padBot30
                    .row
                        .col-md-6
                            .promo-big-text.ta-left
                                | &#1093;&#1086;&#1095;&#1077;&#1096;&#1100; &#1089;&#1090;&#1072;&#1090;&#1100; &#1089;&#1080;&#1083;&#1100;&#1085;&#1077;&#1077; &#1080;
                                br
                                | &#1085;&#1072;&#1081;&#1090;&#1080; &#1077;&#1076;&#1080;&#1085;&#1086;&#1084;&#1099;&#1096;&#1083;&#1077;&#1085;&#1085;&#1080;&#1082;&#1086;&#1074;?
                                br
                                br
                                | &#1087;&#1086;&#1089;&#1077;&#1090;&#1080; &#1086;&#1076;&#1085;&#1086; &#1080;&#1079;
                                span.red
                                    | &#1085;&#1072;&#1096;&#1080;&#1093;
                                    br
                                    | &#1084;&#1077;&#1088;&#1086;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1081;
                                | &#1087;&#1086;
                                br
                                | &#1082;&#1088;&#1086;&#1089;&#1089;&#1092;&#1080;&#1090;&#1091;
                        .col-md-6
                            .promo-big-text.ta-right
                                | &#1090;&#1088;&#1077;&#1085;&#1080;&#1088;&#1091;&#1081;&#1089;&#1103; &#1074; &#1079;&#1072;&#1083;&#1077;
                                br
                                | &#1080;&#1083;&#1080; &#1076;&#1086;&#1084;&#1072;
                                br
                                br
                                | &#1074;&#1099;&#1073;&#1077;&#1088;&#1080; &#1074;&#1072;&#1088;&#1080;&#1072;&#1085;&#1090; &#1076;&#1083;&#1103;
                                br
                                | &#1089;&#1077;&#1073;&#1103;,
                                span.red
                                    | &#1085;&#1072;&#1095;&#1085;&#1080; &#1087;&#1088;&#1103;&#1084;&#1086;
                                    br
                                    | &#1089;&#1077;&#1081;&#1095;&#1072;&#1089;
                        .row
                            .col-md-12
                                .col-md-6
                                    .sBtn.red.btn_find-event.wid50pr &#1053;&#1072;&#1081;&#1090;&#1080; &#1084;&#1077;&#1088;&#1086;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1077;
                                // <div class="col-md-6">
                                .col-md-3
                                    .sBtn.red.btn_find-club.wid100pr &#1053;&#1072;&#1081;&#1090;&#1080; &#1079;&#1072;&#1083;
                                .col-md-3
                                    .sBtn.yellow.btn_to-online-games.wid100pr &#1054;&#1085;&#1083;&#1072;&#1081;&#1085; &#1080;&#1075;&#1088;&#1099;
                                // </div>
        .adv-block-wrapper
            div
                .container.padTop30
                    .row.padBot30
                        .col-md-4
                            .filled-video
                                img(src="img/video1.jpg")
                        .col-md-4
                            .filled-video
                                img(src="img/video2.jpg")
                        .col-md-4
                            .filled-video
                                img(src="img/video3.jpg")
                    .row
                        .col-md-9
                            .adv-bunner-wrapper
                                img(src="img/adv_bunner_big.jpg")
                        .col-md-3
                            .adv-bunner-wrapper
                                img(src="img/adv_bunner.jpg")
